<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Chat de Suporte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div *ngFor="let item of respostasProntas; let i = index">
    <div class="pergunta" (click)="toggleResposta(i)">
      {{ item.pergunta }}
    </div>
    <div class="resposta" *ngIf="item.expandido">
      {{ item.resposta }}
    </div>
  </div>
  
</ion-content>

<!-- <ion-footer>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-input
        [(ngModel)]="novaMensagem"
        (keyup.enter)="enviarMensagem()"
      ></ion-input>
    </ion-item>
  </ion-toolbar>
</ion-footer> -->
