<ion-header>
  <ion-toolbar>
    <ion-title>SafeSense</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding ion-text-center">
  <div class="welcome-container">
    <h1>Bem-vindo!</h1>
    <br><br><br>
    <p>Escolha uma opção para continuar</p>
    <br><br>
    <ion-button expand="block" color="primary" routerLink="/cadastro">
      Cadastrar
    </ion-button>

    <ion-button expand="block" fill="outline" color="medium" routerLink="/entrar">
      Entrar
    </ion-button>
  </div>
</ion-content>
<ion-footer>
  <p>Rodapé</p>
</ion-footer>