<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title>Privacidade e Segurança</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Puxe para atualizar" refreshingSpinner="circles"
      refreshingText="Atualizando...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Política de Privacidade</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Leia nossa política de privacidade para entender como seus dados são usados.</p>
      <ion-button (click)="VPP()" expand="block" color="primary">
        Ver Política de Privacidade
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Permissões e Coleta de Dados</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label>Localização</ion-label>
        <ion-toggle [(ngModel)]="locationEnabled" disabled></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Notificações</ion-label>
        <ion-button expand="block" [color]="notificationsEnabled ? 'success' : 'danger'" [disabled]="!canToggle"
          (click)="handleNotificationToggle()">
          {{ notificationsEnabled ? 'Notificações Ativadas' : 'Notificações Desativadas, Ativar Notificações!' }}
        </ion-button>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Segurança</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" (click)="changePassword()" disabled>Alterar Senha</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Danger Zone!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="danger" (click)="confirmExclution()">Excluir minha conta</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>