<ion-header>
  <ion-toolbar>
    <ion-title>Relatórios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-icon name="document-text-outline" size="large" color="medium"></ion-icon>
  <h2>Nenhum relatório disponível</h2>
  <p>No momento, você não possui relatórios registrados no aplicativo.</p>
</ion-content>

<ion-footer class="rodape">
    <div class="footer-icons">
      <ion-button class="icon-button" fill="clear" (click)="voltar()">
        <ion-icon name="caret-back-outline"></ion-icon>
      </ion-button>
      <ion-button class="icon-button" fill="clear" routerLink="/inicio">
        <ion-icon name="home-outline"></ion-icon>
      </ion-button>
      <ion-button class="icon-button" fill="clear" routerLink="/configuracoes">
        <ion-icon name="settings-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-footer>