<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding profile-content">

    <!-- Ícone grande centralizado -->
    <div class="profile-icon-container">
      <ion-icon name="person-circle-outline"></ion-icon>
      <p>{{ userName || 'Carregando...' }}</p>
    </div>

    <!-- Lista de botões -->
    <ion-list>
      <ion-item button routerLink="/informacoes" disabled>
        <ion-label>Editar Perfil</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-tab-bar slot="bottom">
    <ion-tab-button (click)="goBack()" tab="home">
      <ion-icon name="caret-back-outline"></ion-icon>
      Voltar
    </ion-tab-button>
    <ion-tab-button tab="radio" routerLink="/inicio">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="library" routerLink="/configuracoes">
      <ion-icon name="settings-outline"></ion-icon>
      Configurações
    </ion-tab-button>
  </ion-tab-bar>
</div>